@model Cibertec.Web.Models.ProductoLista
@inject Cibertec.Business.ProductoBusiness ProductoBusiness

<h2>Listado de productos</h2>
<hr />
@using (Html.BeginForm("Search", "Producto", FormMethod.Post))
{
    <span>Introduzca Texto:</span>
    @Html.TextBox("texto")
    <input type="submit" value="Buscar" />
}

<hr />
<div>
    <p>Productos sin Stock :@await ProductoBusiness.GetProductoSinStock()</p>
</div>
<hr />
@Html.ActionLink("Nuevo Producto", "Create", "Producto")
<br />
<span>Total Productos : @Model.Total</span>
<br />



@*<table class="table">
    <tr>
        <td>Id</td>
        <td>Descripcion</td>
        <td>Stock Minimo</td>
        <td>Acciones</td>
    </tr>*@
<div>
    @foreach (var item in Model.Products)
    {
        @await Component.InvokeAsync("ClienteLista", new { producto = item })
    }
</div>
@*</table>*@

<div>
    <nav>

        <ul class="pager">
            @if ((int)ViewData["CurrentPage"] > 1)
            {
                <li>
                    <a href="@Url.Action("GetProductoPaginado", "Producto", new { type= "p", currentPage = ViewData["CurrentPage"]})">Previous</a>
                </li>
            }

            @if (!(bool)ViewData["IsLastPage"])
            {
                <li>
                    <a href="@Url.Action("GetProductoPaginado", "Producto", new { type= "n", currentPage = ViewData["CurrentPage"]})">Next</a>
                </li>
            }
        </ul>


    </nav>

</div>
   

